section {
  width: 1350px;
  height: 500px;
  background: #ccc;
  margin: 0;
  padding: 0;
}

.slide-show-container {
  height: 100%;
  width: 100%;
  position: relative;
}
/* CSS Styles in common for all slides */
.wrapper-one,
.wrapper-two,
.wrapper-three {
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}
.wrapper-text img{
  position:absolute;
  top:50px;
  left: 50px;
}

/* CSS Styles for each slide */
/* Just add the image as background attribute and add some animation */

.wrapper-one {
    background-image: url(./tarot/aa.jpg);
}

.wrapper-two {
    background-image: url("http://www.stnlatam.com/images/pitch/pitch2.jpg");
  animation: slideTwoAnim 20s infinite;
}

.wrapper-three {
    background-image: url("http://www.stnlatam.com/images/pitch/pitch3.jpg");
  animation: slideThreeAnim 20s infinite;
}

/* Styles for the text */
.wrapper-text {
  font: 700 40px/1.4 Roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

/* Animations */
@keyframes slideTwoAnim {
    0%{opacity:0;}
    17%{opacity:0;}
    33%{opacity:1;}
    50%{opacity:1;}
    67%{opacity:0;}
    100%{opacity:0;}
}

@keyframes slideThreeAnim {
    0%{opacity:0;}
    50%{opacity:0;}
    67%{opacity:1;}
    83%{opacity:1;}
    100%{opacity:0;}
}
