/* #first-article div { */
#first-article .bg-1 {
  background-image: url(./tarot/bb.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  font-family: matn;
  font-size: 21px;
  font-weight: 200;
  padding-top: 0;
  text-align: justify;
  height: 100%;
}

.text-container-1 {
  height: 80%;
  height: 60%;
  overflow-y: scroll;
  margin-top: 9rem;
  margin-right: -1rem;
  overflow-x: hidden;
  padding-right: 1rem;
}

@font-face {
  font-family: matn;
  src: url(oldmatn.ttf);
}

@font-face {
  font-family: 'initial';
  src: url('initial.woff');
}


.box {
  overflow-y: unset !important;
  padding-left: 35px;
  padding-right: 26px;
  padding-top: 150px;
  margin-top: 100px;
  width: 100% !important;

}

#first-article .box h2 {
  text-align: center;
  font-weight: bold;
  font-size: 37px;
  /* padding-top: 60px; */
  margin-top: 2rem;
}

#first-article .box h5 {
  text-align: center;
  font-size: 22px;
  padding-top: 20px;

}

#first-article .abs {
  font-size: 17px;
  padding-left: 45px;
  padding-right: 45px;
}

#initialp::first-letter {
  font-family: "initial";
  font-size: 45px;
}


#first-article .line {
  width: 300px;
  height: 100px;
  background-image: url(./tarot/line.png);
  background-size: 250px 35px;
  margin: 0 auto;
}

#first-article .line h2 {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: left;
  text-decoration: underline overline;
  font-size: 25px;
  text-align: center;
}

.initialp::first-letter {
  font-family: "initial";
  font-size: 45px;
}

table {
  table-layout: fixed;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

table td {
  width: auto;
}

table,
th,
td {
  border: 2px solid black;
  text-align: center;

}

tr:hover {
  background-color: #a0937d;
}

.thead {
  background-color: #d9c6a5;
  font-size: 17px;
}

.tbody {
  background-color: #f7e7bd;
  font-size: 15px;
}

.divi::first-letter {
  font-family: "initial";
  font-size: 45px;
}


.mystery::first-letter {
  font-family: "initial";
  font-size: 45px;
}

#jayanti {
  font-size: 12px;
  border: 5px double #a0855b;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1d6ab;
  border-style: ridge;
  border-radius: 5px;
  width: 350px;
  text-align: justify;
  margin-left: 40px;
}

.herm::first-letter {
  font-family: "initial";
  font-size: 45px;
}

#kaiser {
  font-size: 12px;
  border: 5px double #a0855b;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1d6ab;
  border-style: ridge;
  border-radius: 5px;
  width: 350px;
  text-align: justify;
  margin-left: 40px;
}

.dum {
  font-size: 12px;
  border: 5px double #a0855b;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1d6ab;
  border-style: ridge;
  border-radius: 5px;
  width: 350px;
  text-align: justify;
  margin-left: 40px;
}

.world {
  font-size: 12px;
  border: 5px double #a0855b;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1d6ab;
  border-style: ridge;
  border-radius: 5px;
  width: 350px;
  text-align: justify;
  margin-left: 40px;
}

p.fig {
  border-left: 5px solid #810000;
  font-size: 15px;
}

.figures {
  font-weight: bolder;
  font-size: 18px;

}

.imageone {
  width: 300px;
  height: 250px;
  filter: sepia(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.imagetwo {
  width: 210px;
  height: 200px;
  filter: sepia(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trump {
  font-size: 12px;
  border: 5px double #a0855b;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1d6ab;
  border-style: ridge;
  border-radius: 5px;
  width: 350px;
  text-align: justify;
  margin-left: 40px;
}

.last {
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
}

.ack {
  font-size: 18px;
}

.ref {
  font-size: 18px;
}


/* here start second articles */
/* #second-article div { */
#second-article .bg-2 {
  background-image: url(./tarot/foolback.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  font-family: becker;
  font-size: 18px;
  font-weight: 50;
  padding-top: 0;
  text-align: justify;
  /* height: 500px; */
  height: 100%;

}

.text-container-2 {
  height: 68%;
  overflow-y: scroll;
  margin-top: 7rem;
  margin-right: -1rem;
  overflow-x: hidden;
  padding-right: 1rem;
}

@font-face {
  font-family: 'becker';
  src: url('becker.woff');
}

#title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* margin-top: 100px; */
  margin-top: 55px;

}

#author {
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
}

.riz {
  font-size: 13px;
  text-align: center;
}

.img2 {
  width: 150px;
  height: 200px;
  margin-right: 50px;
  margin-left: auto;
  display: block;
  background-position: -9999px -9999px;


}

.img22 {
  width: 150px;
  height: 200px;
  margin-left: 50px;
  display: inline-block;
  background-position: -9999px -9999px;


}

.clearfix {
  background-position: -9999px -9999px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 25px;
  background-position: -9999px -9999px;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  background-position: -9999px -9999px;

}

.row {
  background-position: -9999px -9999px;

}

.cap {
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.table-one {
  background-position: -9999px -9999px;

}

.table-one table {
  border-collapse: collapse;

}

.table-one table,
th,
td {
  border: 1px solid black;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

#customers td,
#customers th {
  border: 2px solid #8e9775;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #e8e8e8;
}

#customers tr:hover {
  background-color: #8e9775;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  background-color: #aa3a3a;
  color: #e8e8e8 !important;
}

#table-second {
  background-position: -9999px -9999px;

}

.class-second {
  background-position: -9999px -9999px;

}

#designtab {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

#designtab td,
#designtab th {
  border: 2px solid #8e9775;
  padding: 8px;
}

#designtab tr:nth-child(even) {
  background-color: #e8e8e8;
}

#designtab tr:hover {
  background-color: #8e9775;
}

#designtab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  background-color: #aa3a3a;
  color: #e8e8e8 !important;
}

.table-third {
  background-position: -9999px -9999px;
}

#third {
  width: 85%;
}

.table-four {
  background-position: -9999px -9999px;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 20px;

}

.table-five {
  background-position: -9999px -9999px;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 20px;

}

.table-six {
  background-position: -9999px -9999px;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.last {
  background-position: -9999px -9999px;
}

.notes {
  background-position: -9999px -9999px;

}


/* here start the third article */
/* #third-article div { */
#third-article .bg-3 {
  background-image: url(./tarot/backt.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  font-family: vinq;
  font-size: 18px;
  font-weight: 50;
  padding-top: 0;
  text-align: justify;
  /* height:500px; */
  height: 100%;
}

.text-container-3 {
  height: 60%;
  overflow-y: scroll;
  margin-top: 12rem;
  margin-right: -1rem;
  overflow-x: hidden;
  padding-right: 4rem;
  padding-left: 4rem;
}

@font-face {
  font-family: vinq;
  src: url(vinq.woff);
}

@font-face {
  font-family: exta;
  src: url(exta.woff);
}

#title3 {
  padding-top: 10px;
  /* padding-left: 15px;
  padding-right: 15px; */
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  text-align: justify;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.firstq {
  background-position: -9999px -9999px;

}
